* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

nav ul {
    display: flex;
    height: 7vh;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    margin-right: 30px;
    color: black;
    scroll-behavior: smooth;
}

nav ul li {
    font-size: 1.5rem;
}

.parallex-effect {
    background-image: url(img/bgimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;

}

.intro h2 {
    margin-top: 1rem;
}

#projects {
    background-color: #fff;
    text-align: center;
    color: black;
    padding: 2rem 1rem;
}

#projects h1 {
    border-bottom: 0.2rem solid black;
    max-width: 640px;
    margin: 0 auto 6rem auto;
    padding: 15px;
}

#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.project-image {
    width: 100%;
    object-fit: cover;
    height: calc(100% - 6.8rem);
    border-radius: 10px;
}

.project-title {
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
    color: black;
}

.project:hover .code {
    color: #ff7f50;
}

.code {
    transition: color 0.3s ease-out;
}

.project {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.project:hover {
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
}

.btn {
    font-size: 1rem;
    padding: 15px;
    border: none;
    background-color: #81cfb2;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    display: block;
    cursor: pointer;
    margin-bottom: 3rem;
    border: 2px solid #81cfb2;
}

.btn:hover {
    background-color: #fff;
    color: black;
    border: 2px solid black;
}

a {
    text-decoration: none;
}

.contact-section-header {
    text-align: center;
}

.contact-section-header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

#contact {
    background-image: url(img/bgimg-1.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-links {
    display: inline-block;
    margin-top: 2rem;
}

.contact-links a {
    color: #fff;
    font-size: 1.2rem;
    margin-right: 20px;
}

@media only screen and (max-width: 650px) {
    nav ul {
        flex-direction: column;
        justify-content: space-around;
    }

    .intro {
        top: 30%;
        left: 50%;
    }

    .contact-links {
        display: flex;
        flex-direction: column;
    }
}